@import "tailwindcss";

:root {
  --background: #F9F9F9;
  --foreground: #333333;
  --libra-coral: #FF6E4A;
  --libra-light: #FF8F73;
  --libra-dark: #E64E2A;
  --libra-accent: #0066CC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #F9F9F9;
    --libra-coral: #FF6E4A;
    --libra-light: #FF8F73;
    --libra-dark: #E64E2A;
    --libra-accent: #0066CC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}